@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}


.btnColor {
  background-color: #F5E8DD;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .btnStyle {
    @apply border px-5 py-1 rounded-md btnColor w-[100px] sm:w-[120px] lg:w-[150px] lg:h-[40px]
    text-xs sm:text-base;
  }
}
